.productGroup{
    width: 1200px;
    height: 600px;
    border-bottom: 1px dotted gray;
    display: flex;
    /* flex-wrap: wrap; */
    margin: auto;
}
.product{
    width: 200px;
    height: 394px;
}

.productImage img{
    width: 160px;
    height: 175px;
    margin: 10px 10px;
}

.productDescription{
    width: 150;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.slogan{
    width: 160px;
    height: 16px;
    color: #DD2726;
    font-size: 13px;
}

.title{
    width: 160px;
    height: 40px;
    color: gray;
    font-size: 13px;
    font-weight: lighter;
}

.price{
    width: 160px;
    height: 15px;
    color: #D62872;
    font-size: 24px;
    font-weight: lighter;
}

.price span{
    font-size: 13px;
    font-weight: bold;
}

.rate{
    width: 160;
    height: 20px; 
}

.salesVolumn{
    width: 180px;
    height: 26px;
    color: #454545;
    font-size: 12px;
}

.iconArea{
    width: 180px;
    height: 26px;
    background-color: #EEEEEE;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.outOfStock{
    height: 26px;
    color: #969696;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fastDelivery{
    font-size: 12px;
    color: white;
    background-color: #be0211;
    border-radius: 3px; 
    display: inline;
    padding: 2px 4px;
    margin-right: 2px;
    align-items: center;
}

.register,
.giveAway{
    font-size: 12px;
    color: white;
    background-color: #FF4C76;
    border-radius: 3px; 
    display: inline;
    padding: 2px 4px;
    margin-right: 2px;
    align-items: center;

}

